<footer class=" fixed-bottom footer bg-dark py-3">
    <div class="container">
        <div class="row">
            <span class="text-muted col-11">
                &copy;QCG POS Systems
            </span>
            <span class="col-1 d-flex align-items-center justify-content-right"><a href="/logout"><button
                        class="btn btn-sm btn-light">logout</button></a></span>
        </div>
    </div>
</footer>