<% layout('layouts/boilerplate') %>
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <h4 class="alert-heading">
            <%= err.statusCode %>
                Error!
        </h4>
        <% if(process.env.NODE_ENV !=='production' ){ %>
            <h6 class="alert-heading">
                <%= err.message %>
            </h6>
            <div id="accordion">
                <div class="card">
                    <div class="card-header alert-danger" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Click here to learn more

                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div>

                                <b>Here is the Full Stack:</b>
                                <br>
                                <%= err.stack %>

                            </div>

                        </div>
                    </div>
                </div>

                <div> do your best to keep things nice and tidy next time</div>
            </div>
            <% } %>
    </div>