<% layout('layouts/loginBoiler') %>

    <div class="vh-100 row justify-content-center align-items-center" style="background-color: midnightblue;">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">

                    <h2 class="text-uppercase text-center mb-4">POS Login</h2>
                    <%- include('../partials/flash')%>
                        <form action="/login" method="POST" class="login-form needs-validation" novalidate>

                            <div class="form-outline mb-4">
                                <label for="usename" class="form-label">Username:</label>
                                <input type="text" name="username" id="username" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please include your username
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" name="password" id="password" class="form-control" required>
                                <div class="invalid-feedback">
                                    You need a password....
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button class="btn btn-success btn-block btn-lg  text-body"
                                    style="background-color: lightgreen;">Login</button>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="/register"
                                    class="fw-bold text-body"><u>Sign Up</u></a></p>

                        </form>

                </div>
            </div>
        </div>
    </div>