<% layout('layouts/boilerplate') %>

    <div class="d-flex item-align-center justify-content-center row">
        <div class="border col-5 py-3">
            <%- include('../partials/newproduct')%>
        </div>
    </div>